body {
  margin: 0;
  font-family: "Montserrat";
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  width: auto;
  height: auto;
}

button {
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 700;
  border-radius: 50px;
}






